{% extends "main/base.html" %}

{% block title %}View Patient{% endblock %}
{% block content %}
<br>

<div class = "container">
  <div class = "row">
    <div class = "col-sm">
    <div class = "col-lg-16">
      <h3>{{patient.name}} <a href = "/">EDIT</a> </h3>
        <br>
        <table class="table table-hover col-16">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
          {% for parameter,value in p_attr.items %}
            <tr>
              <th scope="row">{{parameter.title}}</th>
              <td>{{value}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
        <div>
          <a href="/new_record/{{p_id_enc}}" aria-pressed="true" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create new record</a>
        </div>
    </div></div>

    <div class="col-sm">
    <div class = "container">
      <h3>Records</h3>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Other Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">All</a>
        </li>
      </ul>
      <br>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          {% for record in records %}
          {% if record.doctor.id == user.id %}
                <div class="card">
                  <div class="card-header" align = "center">
                    <a href = "/view_record/{{record.enc_id}}">{{record.date}} ({{record.reason}}) - {{record.doctor.username}}</a>
                  </div>
                </div><br>
            {% endif %}
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          {% for record in records %}
          {% if record.doctor.id != user.id %}
                <div class="card">
                  <div class="card-header" align = "center">
                    <a href = "/view_record/{{record.enc_id}}">{{record.date}} ({{record.reason}}) - {{record.doctor.username}}</a>
                  </div>
                </div><br>
            {% endif %}
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          {% for record in records %}
                <div class="card">
                  <div class="card-header" align = "center">
                    <a href = "/view_record/{{record.enc_id}}">{{record.date}} ({{record.reason}}) - {{record.doctor.username}}</a>
                  </div>
                </div><br>
            {% endfor %}
        </div>
      </div>

      
        <br>
    </div></div>

  </div>
</div>

{% endblock %}
