{% extends "main/base.html" %}
{% block title %}View Record{% endblock %}

{% block content %}
<br>

<style>
  #test-summary{
    background-color: #b3b3b3;
  }
</style>

<div align="center">
<h3>
    Appointment Details
</h3><br>
<table class="table table-hover col-8">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
    {% for parameter,value in attr.items %}
    {% if parameter != "tests" %}
      <tr>
        <th scope="row">{{parameter.title}}</th>
        <td>{{value}}</td>
      </tr>
    {% endif %}
    {% endfor %}
      <tr>
        <th scope="row">Tests</th>
        <td>

        <div>
          {% if n_lab == 0 %}
          No lab test conducted!
          {% else %}
          {% if lab_verified == True %}
          # of lab tests: {{n_lab}}   <a class="badge badge-primary" href = "/view_tests/lab/{{rec_id}}">See tests</a>
          {% else %}
          {% if is_lab_dr %}
          # of lab tests: {{n_lab}}   <a class="badge badge-success" href = "/insert_tests/lab/{{rec_id}}">Insert Results</a>
          {% else %}
          # of lab tests: {{n_lab}} <a class="badge badge-warning">Waiting for the results</a>
          {% endif %}

          {% endif %}
          {% endif %}
          <div>
            <small id = "test-summary">Tests: {{lab_tests}}</small>
          </div>
        </div>

        <div>
          {% if n_radio == 0 %}
          No radiology test conducted!
          {% else %}
          {% if radio_verified == True %}
          # of radiology tests: {{n_radio}}   <a class="badge badge-primary" href = "/view_tests/radiology/{{rec_id}}">See tests</a>
          {% else %}
          {% if is_lab_dr %}
          # of radiology tests: {{n_radio}}   <a class="badge badge-success" href = "/insert_tests/radiology/{{rec_id}}">Insert Results</a>
          {% else %}
          # of lab tests: {{n_radio}} <a class="badge badge-warning">Waiting for the results</a>
          {% endif %}
          {% endif %}
          {% endif %}
          <div>
            <small id = "test-summary">Tests: {{radio_tests}}</small>
          </div>
        </div>

        </td>
      </tr>
    </tbody>

  </table>
  <div>
    <a href="/delete_record/{{rec_id}}" aria-pressed="true" class="btn btn-danger btn-lg active" role="button"
     aria-pressed="true">Delete record</a>
</div>
<div>



{% endblock %}