{% extends "main/base.html" %}
{% block title %}View Record{% endblock %}

{% block content %}
<br>

<div align="center">
<h3>
    View Appointment
</h3><br>
<table class="table table-hover col-8">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
    {% for parameter,value in attr.items %}
    {% if parameter != "tests" %}
      <tr>
        <th scope="row">{{parameter.title}}</th>
        <td>{{value}}</td>
      </tr>
    {% endif %}
    {% endfor %}
      <tr>
        <th scope="row">Tests</th>
        <td>

        <div>
          {% if n_lab == 0 %}
          No lab test conducted!
          {% else %}
          {% if lab_verified == True %}
          # of lab tests: {{n_lab}}   <a href = "/view_tests/lab/{{rec_id}}">See tests</a>
          {% else %}
          # of lab tests: {{n_lab}}   <a href = "/insert_tests/lab/{{rec_id}}">Insert Results</a>
          {% endif %}
          {% endif %}
        </div>

        <div>
          {% if n_radio == 0 %}
          No radiology test conducted!
          {% else %}
          {% if radio_verified == True %}
          # of radiology tests: {{n_radio}}   <a href = "/view_tests/radiology/{{rec_id}}">See tests</a>
          {% else %}
          # of radiology tests: {{n_radio}}   <a href = "/insert_tests/radiology/{{rec_id}}">Insert Results</a>
          {% endif %}
          {% endif %}
        </div>

        </td>
      </tr>
    </tbody>
  </table>
<div>

<div align = "left">
    <a href="/delete_record/{{rec_id}}" aria-pressed="true" class="btn btn-danger btn-lg active" role="button"
     aria-pressed="true">Delete record</a>
  </div>

{% endblock %}